* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Jockey One', sans-serif;
  font-style: italic;
}
.wrapper-content {
  user-select: none;
  background-color: #000;
  min-height: 100vh;
  display: grid;
  text-align: center;
  grid-template-areas:
    'timer timer timer'
    'break reset session'
    'footer footer footer';
}
#title {
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.wrapper-time {
  display: grid;
  background-color: #d7ff46e7;
  grid-area: timer;
  font-size: 10rem;
  clip-path: polygon(50% 100%, 100% 60%, 100% 0, 0 0, 0% 60%);
  place-items: center;
  transition: background-color 1s;
}
.changeBackground {
  background-color: rgb(255, 186, 58);
  transition: background-color 1s;
}
#timer-label {
  height: 2rem;
  font-size: 3rem;
}
#time-left {
  letter-spacing: 0.3rem;
}
.redTextTime {
  color: red;
}
#start_stop {
  font-size: 6rem;
  margin-bottom: 1rem;
  display: block;
  cursor: pointer;
  border-radius: 50%;
}
.break-control,
.session-control {
  display: grid;
  font-size: 2.5rem;
  color: whitesmoke;
  position: relative;
  bottom: 2rem;
  justify-items: center;
}
.break-control {
  grid-area: break;
  justify-self: end;
  left: 2rem;
}
.session-control {
  grid-area: session;
  justify-self: start;
  right: 2rem;
}
.controls {
  display: flex;
  align-items: center;
  height: 4rem;
}
.break-length,
.session-length {
  display: inline-block;
  width: 5rem;
  font-size: 3.5rem;
}
.break-length-effect,
.session-length-effect {
  font-size: 4rem;
}
#break-decrement,
#break-increment,
#session-decrement,
#session-increment {
  cursor: pointer;
  height: 2rem;
}
#reset {
  grid-area: reset;
  font-size: 2.8rem;
  background-color: whitesmoke;
  border-radius: 50%;
  place-self: center;
  padding: 0.6rem;
  position: relative;
  left: 0.65rem;
  cursor: pointer;
}
.footer-info {
  grid-area: footer;
  color: rgb(110, 110, 110);
  font-family: monospace;
  font-size: 1.2rem;
  font-style: normal;
}
a {
  text-decoration: none;
  color: rgb(158, 158, 158);
  letter-spacing: 0.1rem;
}

@media (max-width: 800px) {
  .wrapper-time {
    font-size: 7rem;
  }
  #start_stop {
    font-size: 4.5rem;
  }
  .break-control,
  .session-control {
    font-size: 2rem;
    color: whitesmoke;
  }
  .break-length,
  .session-length {
    font-size: 3rem;
  }
  .break-length-effect,
  .session-length-effect {
    font-size: 3.5rem;
  }
  #reset {
    font-size: 2.4rem;
    padding: 0.5rem;
  }
  .break-control {
    grid-area: break;
    justify-self: normal;
    position: static;
  }
  .session-control {
    grid-area: session;
    justify-self: normal;
    position: static;
  }
}
